body {
	font-family: "roboto";
}

// FIXS:
img {
	max-width:100%;
	height:auto;
}
.row .row {
	margin-left: 0;
	margin-right: 0;
}
[class*="sidebar"] {
	ul {
		list-style-type: none;
	}
}
.modal-backdrop.in {
	opacity: 1;
}
