body {
  background-color: $brand-bg;

}

// Content wrapper
.wrap { }

// Main content area
.main {
  margin-top: -1px; // bug fix for sticky element
  //@include make-sm-column($main-sm-columns);
  @include make-sm-column(12);

  margin: 0 auto !important; 
  float: center !important;

  .sidebar-primary & {
    @include make-sm-column(8);
  }
  .sidebar-right & {
    @include make-sm-column(8);
  }
  .sidebar-left & {
    @include make-sm-column(8);
  }
  .sandwitch & { 
  	@include make-md-column(8);
  }
}
.main-inner {
  float:left;
  width: 100%;
}