/* Loop */
.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

body[class*="loop"] .entry-title {
  margin-top: 0;
}
/* Single */
body[class*="sngl"] .entry-title {
	height: 180px;
	margin: 80px 0 20px;
	text-align: center;
}