body.sandwitch, body.sidebar-right, body.sidebar-left {
	.sidebar-left, .sidebar-right {
		z-index: 7;
	  & [class*="sidebar"] {
	  	
	  	padding-top: 15px;
	  	padding-bottom: 15px;
	  	
	  }
	  .sidebar-left-inner, .sidebar-right-inner {
	  	width: 100%;
	  }
	}
}
body.sandwitch {
	aside[class*="sidebar"] {
		float: left;
		width: 16.0%; // Fix above when 16.666% does not fit in the location
	}
	[class*="sidebar"] {
		@include make-md-column(2);
		
	}

	.sidebar-left {
		padding-left: 0;
		float: left !important;
		//left: 0 !important;
		@extend .hidden-xs;
		@extend .hidden-sm;
	}
	.sidebar-right {
		padding-right: 0;
		float: right !important;
		//right: 0 !important;
		@extend .hidden-xs;
		@extend .hidden-sm;
	}
	.sidebar-right-top {
		position: fixed;
		top: 60px;
		right: 60px;
		width: 60px;
		height: 60px;
	}
}
body.sidebar-right, body.sidebar-left {
	[class*="sidebar"] {
		@include make-sm-column(4);//$sidebar-xs-columns
	  @include make-xs-column(12);
	}
}

.sf_block input {
	width: 100% !important;
}