body.sandwitch, body.sidebar-right, body.sidebar-left {
	.sidebar-left, .sidebar-right {
		
	  & [class*="sidebar"] {
	  	width: 100%;
	  	padding-top: 15px;
			padding-bottom: 15px;
	  	background: rgba(0,0,0,0.03);
	  }
	}
}
body.sandwitch {
	[class*="sidebar"] {
		@include make-md-column(2);
	  float: left;
	}
	.sidebar-left {
		padding-left: 0;
		@extend .hidden-xs;
		@extend .hidden-sm;
	}
	.sidebar-right {
		padding-right: 0;
		@extend .hidden-xs;
		@extend .hidden-sm;
	}
	.sidebar-right-top {
		position: fixed;
		top: 60px;
		right: 60px;
		width: 60px;
		height: 60px;
		background: red;
	}
}
body.sidebar-right, body.sidebar-left {
	[class*="sidebar"] {
		@include make-sm-column(4);//$sidebar-xs-columns
	  @include make-xs-column(12);
	}
}

.sf_block input {
	width: 100% !important;
}